/* -----------------------------------------------------------------------------
 * File: waybar.css
 * Author: Naveen Duhan
 * Description: Waybar styling for Catppuccin Mocha.
 * ----------------------------------------------------------------------------- */

@define-color base #1e1e2e;
@define-color mantle #181825;
@define-color crust #11111b;

@define-color text #cdd6f4;
@define-color subtext0 #a6adc8;
@define-color subtext1 #bac2de;

@define-color surface0 #313244;
@define-color surface1 #45475a;
@define-color surface2 #585b70;

@define-color overlay0 #6c7086;
@define-color overlay1 #7f849c;
@define-color overlay2 #9399b2;

@define-color blue #89b4fa;
@define-color lavender #b4befe;
@define-color sapphire #74c7ec;
@define-color sky #89dceb;
@define-color teal #94e2d5;
@define-color green #a6e3a1;
@define-color yellow #f9e2af;
@define-color peach #fab387;
@define-color maroon #eba0ac;
@define-color red #f38ba8;
@define-color mauve #cba6f7;
@define-color pink #f5c2e7;
@define-color flamingo #f2cdcd;
@define-color rosewater #f5e0dc;



* {
    border: none;
    border-radius: 0;
    font-family: "JetBrainsMono Nerd Font";
    font-size: 14px;
    min-height: 0;
}

window#waybar {
    background: transparent;
    color: @text;
    transition-property: background-color;
    transition-duration: .5s;
}

window#waybar.hidden {
    opacity: 0.2;
}

#workspaces button {
    padding: 0 5px;
    background-color: transparent;
    color: @text;
    border-radius: 5px;
}

#workspaces button:hover {
    background: rgba(0, 0, 0, 0.2);
}

#workspaces button.active {
    color: @blue;
    background-color: rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 -3px @blue;
}

#workspaces button.urgent {
    background-color: @red;
}

#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#scratcher,
#mpd,
#custom-notification {
    padding: 0 10px;
    color: @text;
    background-color: @base;
    border-radius: 10px;
    margin: 5px 2px;
}

#window,
#workspaces {
    margin: 0 4px;
    padding: 0 5px;
    background-color: @base;
    border-radius: 10px;
}

.modules-left>widget:first-child>#workspaces {
    margin-left: 0;
}

.modules-right>widget:last-child>#workspaces {
    margin-right: 0;
}

#clock {
    color: @yellow;
}

#battery {
    color: @green;
}

#battery.charging,
#battery.plugged {
    color: @green;
}

#battery.critical:not(.charging) {
    background-color: @red;
    color: @base;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

label:focus {
    background-color: #000000;
}

#network {
    color: @mauve;
}

#network.disconnected {
    color: @red;
}

#pulseaudio {
    color: @blue;
}

#pulseaudio.muted {
    color: @overlay0;
}

#tray {
    background-color: @base;
}