/* -----------------------------------------------------------------------------
 * File: waybar.css
 * Author: Naveen Duhan
 * Description: Waybar styling for Dracula.
 * ----------------------------------------------------------------------------- */

@define-color base #282a36;
@define-color mantle #21222c;
@define-color crust #191a21;

@define-color text #f8f8f2;
@define-color subtext0 #e9e9f4;
@define-color subtext1 #d9dae4;

@define-color surface0 #44475a;
@define-color surface1 #4d4f64;
@define-color surface2 #6272a4;

@define-color overlay0 #6272a4;
@define-color overlay1 #7284b8;
@define-color overlay2 #8296cc;

@define-color blue #8be9fd;
@define-color lavender #bd93f9;
@define-color sapphire #8be9fd;
@define-color sky #8be9fd;
@define-color teal #8be9fd;
@define-color green #50fa7b;
@define-color yellow #f1fa8c;
@define-color peach #ffb86c;
@define-color maroon #ff5555;
@define-color red #ff5555;
@define-color mauve #bd93f9;
@define-color pink #ff79c6;
@define-color flamingo #ffb86c;
@define-color rosewater #f8f8f2;


* {
    border: none;
    border-radius: 0;
    font-family: "JetBrainsMono Nerd Font";
    font-size: 14px;
    min-height: 0;
}

window#waybar {
    background: transparent;
    color: @text;
    transition-property: background-color;
    transition-duration: .5s;
}

window#waybar.hidden {
    opacity: 0.2;
}

#workspaces button {
    padding: 0 5px;
    background-color: transparent;
    color: @text;
    border-radius: 5px;
}

#workspaces button:hover {
    background: rgba(0, 0, 0, 0.2);
}

#workspaces button.active {
    color: @blue;
    background-color: rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 -3px @blue;
}

#workspaces button.urgent {
    background-color: @red;
}

#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#scratcher,
#mpd,
#custom-notification {
    padding: 0 10px;
    color: @text;
    background-color: @base;
    border-radius: 10px;
    margin: 5px 2px;
}

#window,
#workspaces {
    margin: 0 4px;
    padding: 0 5px;
    background-color: @base;
    border-radius: 10px;
}

.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}

.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}

#clock {
    color: @yellow;
}

#battery {
    color: @green;
}

#battery.charging, #battery.plugged {
    color: @green;
}

#battery.critical:not(.charging) {
    background-color: @red;
    color: @base;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

label:focus {
    background-color: #000000;
}

#network {
    color: @mauve;
}

#network.disconnected {
    color: @red;
}

#pulseaudio {
    color: @blue;
}

#pulseaudio.muted {
    color: @overlay0;
}

#tray {
    background-color: @base;
}
