/* -----------------------------------------------------------------------------
 * File: waybar.css
 * Author: Naveen Duhan
 * Description: Waybar styling for Everforest.
 * ----------------------------------------------------------------------------- */

@define-color base #2d353b;
@define-color mantle #272e33;
@define-color crust #21272b;

@define-color text #d3c6aa;
@define-color subtext0 #9da9a0;
@define-color subtext1 #859289;

@define-color surface0 #343f44;
@define-color surface1 #3d484d;
@define-color surface2 #475258;

@define-color overlay0 #56635f;
@define-color overlay1 #7a8478;
@define-color overlay2 #859289;

@define-color blue #7fbbb3;
@define-color lavender #d699b6;
@define-color sapphire #7fbbb3;
@define-color sky #83c092;
@define-color teal #83c092;
@define-color green #a7c080;
@define-color yellow #dbbc7f;
@define-color peach #e69875;
@define-color maroon #e67e80;
@define-color red #e67e80;
@define-color mauve #d699b6;
@define-color pink #d699b6;
@define-color flamingo #e69875;
@define-color rosewater #d3c6aa;


* {
    border: none;
    border-radius: 0;
    font-family: "JetBrainsMono Nerd Font";
    font-size: 14px;
    min-height: 0;
}

window#waybar {
    background: transparent;
    color: @text;
    transition-property: background-color;
    transition-duration: .5s;
}

window#waybar.hidden {
    opacity: 0.2;
}

#workspaces button {
    padding: 0 5px;
    background-color: transparent;
    color: @text;
    border-radius: 5px;
}

#workspaces button:hover {
    background: rgba(0, 0, 0, 0.2);
}

#workspaces button.active {
    color: @blue;
    background-color: rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 -3px @blue;
}

#workspaces button.urgent {
    background-color: @red;
}

#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#scratcher,
#mpd,
#custom-notification {
    padding: 0 10px;
    color: @text;
    background-color: @base;
    border-radius: 10px;
    margin: 5px 2px;
}

#window,
#workspaces {
    margin: 0 4px;
    padding: 0 5px;
    background-color: @base;
    border-radius: 10px;
}

.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}

.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}

#clock {
    color: @yellow;
}

#battery {
    color: @green;
}

#battery.charging, #battery.plugged {
    color: @green;
}

#battery.critical:not(.charging) {
    background-color: @red;
    color: @base;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

label:focus {
    background-color: #000000;
}

#network {
    color: @mauve;
}

#network.disconnected {
    color: @red;
}

#pulseaudio {
    color: @blue;
}

#pulseaudio.muted {
    color: @overlay0;
}

#tray {
    background-color: @base;
}
