/* -----------------------------------------------------------------------------
 * File: waybar.css
 * Author: Naveen Duhan
 * Description: Waybar styling for Catppuccin Latte (light).
 * ----------------------------------------------------------------------------- */

@define-color base #eff1f5;
@define-color mantle #e6e9ef;
@define-color crust #dce0e8;

@define-color text #4c4f69;
@define-color subtext0 #6c6f85;
@define-color subtext1 #5c5f77;

@define-color surface0 #ccd0da;
@define-color surface1 #bcc0cc;
@define-color surface2 #acb0be;

@define-color overlay0 #9ca0b0;
@define-color overlay1 #8c8fa1;
@define-color overlay2 #7c7f93;

@define-color blue #1e66f5;
@define-color lavender #7287fd;
@define-color sapphire #209fb5;
@define-color sky #04a5e5;
@define-color teal #179299;
@define-color green #40a02b;
@define-color yellow #df8e1d;
@define-color peach #fe640b;
@define-color maroon #e64553;
@define-color red #d20f39;
@define-color mauve #8839ef;
@define-color pink #ea76cb;
@define-color flamingo #dd7878;
@define-color rosewater #dc8a78;


* {
    border: none;
    border-radius: 0;
    font-family: "JetBrainsMono Nerd Font";
    font-size: 14px;
    min-height: 0;
}

window#waybar {
    background: transparent;
    color: @text;
    transition-property: background-color;
    transition-duration: .5s;
}

window#waybar.hidden {
    opacity: 0.2;
}

#workspaces button {
    padding: 0 5px;
    background-color: transparent;
    color: @text;
    border-radius: 5px;
}

#workspaces button:hover {
    background: rgba(0, 0, 0, 0.2);
}

#workspaces button.active {
    color: @blue;
    background-color: rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 -3px @blue;
}

#workspaces button.urgent {
    background-color: @red;
}

#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#scratcher,
#mpd,
#custom-notification {
    padding: 0 10px;
    color: @text;
    background-color: @base;
    border-radius: 10px;
    margin: 5px 2px;
}

#window,
#workspaces {
    margin: 0 4px;
    padding: 0 5px;
    background-color: @base;
    border-radius: 10px;
}

.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}

.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}

#clock {
    color: @yellow;
}

#battery {
    color: @green;
}

#battery.charging, #battery.plugged {
    color: @green;
}

#battery.critical:not(.charging) {
    background-color: @red;
    color: @base;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

label:focus {
    background-color: #000000;
}

#network {
    color: @mauve;
}

#network.disconnected {
    color: @red;
}

#pulseaudio {
    color: @blue;
}

#pulseaudio.muted {
    color: @overlay0;
}

#tray {
    background-color: @base;
}
