/* -----------------------------------------------------------------------------
 * File: waybar.css
 * Author: Naveen Duhan
 * Description: Waybar styling for Nord.
 * ----------------------------------------------------------------------------- */

@define-color base #2e3440;
@define-color mantle #272c36;
@define-color crust #21252d;

@define-color text #d8dee9;
@define-color subtext0 #e5e9f0;
@define-color subtext1 #eceff4;

@define-color surface0 #3b4252;
@define-color surface1 #434c5e;
@define-color surface2 #4c566a;

@define-color overlay0 #4c566a;
@define-color overlay1 #616e88;
@define-color overlay2 #7b88a1;

@define-color blue #5e81ac;
@define-color lavender #b48ead;
@define-color sapphire #81a1c1;
@define-color sky #88c0d0;
@define-color teal #8fbcbb;
@define-color green #a3be8c;
@define-color yellow #ebcb8b;
@define-color peach #d08770;
@define-color maroon #bf616a;
@define-color red #bf616a;
@define-color mauve #b48ead;
@define-color pink #b48ead;
@define-color flamingo #d08770;
@define-color rosewater #d8dee9;


* {
    border: none;
    border-radius: 0;
    font-family: "JetBrainsMono Nerd Font";
    font-size: 14px;
    min-height: 0;
}

window#waybar {
    background: transparent;
    color: @text;
    transition-property: background-color;
    transition-duration: .5s;
}

window#waybar.hidden {
    opacity: 0.2;
}

#workspaces button {
    padding: 0 5px;
    background-color: transparent;
    color: @text;
    border-radius: 5px;
}

#workspaces button:hover {
    background: rgba(0, 0, 0, 0.2);
}

#workspaces button.active {
    color: @blue;
    background-color: rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 -3px @blue;
}

#workspaces button.urgent {
    background-color: @red;
}

#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#scratcher,
#mpd,
#custom-notification {
    padding: 0 10px;
    color: @text;
    background-color: @base;
    border-radius: 10px;
    margin: 5px 2px;
}

#window,
#workspaces {
    margin: 0 4px;
    padding: 0 5px;
    background-color: @base;
    border-radius: 10px;
}

.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}

.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}

#clock {
    color: @yellow;
}

#battery {
    color: @green;
}

#battery.charging, #battery.plugged {
    color: @green;
}

#battery.critical:not(.charging) {
    background-color: @red;
    color: @base;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

label:focus {
    background-color: #000000;
}

#network {
    color: @mauve;
}

#network.disconnected {
    color: @red;
}

#pulseaudio {
    color: @blue;
}

#pulseaudio.muted {
    color: @overlay0;
}

#tray {
    background-color: @base;
}
