/* -----------------------------------------------------------------------------
 * File: waybar.css
 * Author: Naveen Duhan
 * Description: Waybar styling for Rose Pine.
 * ----------------------------------------------------------------------------- */

@define-color base #191724;
@define-color mantle #15121f;
@define-color crust #100e18;

@define-color text #e0def4;
@define-color subtext0 #908caa;
@define-color subtext1 #6e6a86;

@define-color surface0 #1f1d2e;
@define-color surface1 #26233a;
@define-color surface2 #403d52;

@define-color overlay0 #524f67;
@define-color overlay1 #6e6a86;
@define-color overlay2 #908caa;

@define-color blue #31748f;
@define-color lavender #c4a7e7;
@define-color sapphire #31748f;
@define-color sky #9ccfd8;
@define-color teal #9ccfd8;
@define-color green #31748f;
@define-color yellow #f6c177;
@define-color peach #f6c177;
@define-color maroon #eb6f92;
@define-color red #eb6f92;
@define-color mauve #c4a7e7;
@define-color pink #ebbcba;
@define-color flamingo #ebbcba;
@define-color rosewater #e0def4;


* {
    border: none;
    border-radius: 0;
    font-family: "JetBrainsMono Nerd Font";
    font-size: 14px;
    min-height: 0;
}

window#waybar {
    background: transparent;
    color: @text;
    transition-property: background-color;
    transition-duration: .5s;
}

window#waybar.hidden {
    opacity: 0.2;
}

#workspaces button {
    padding: 0 5px;
    background-color: transparent;
    color: @text;
    border-radius: 5px;
}

#workspaces button:hover {
    background: rgba(0, 0, 0, 0.2);
}

#workspaces button.active {
    color: @blue;
    background-color: rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 -3px @blue;
}

#workspaces button.urgent {
    background-color: @red;
}

#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#scratcher,
#mpd,
#custom-notification {
    padding: 0 10px;
    color: @text;
    background-color: @base;
    border-radius: 10px;
    margin: 5px 2px;
}

#window,
#workspaces {
    margin: 0 4px;
    padding: 0 5px;
    background-color: @base;
    border-radius: 10px;
}

.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}

.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}

#clock {
    color: @yellow;
}

#battery {
    color: @green;
}

#battery.charging, #battery.plugged {
    color: @green;
}

#battery.critical:not(.charging) {
    background-color: @red;
    color: @base;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

label:focus {
    background-color: #000000;
}

#network {
    color: @mauve;
}

#network.disconnected {
    color: @red;
}

#pulseaudio {
    color: @blue;
}

#pulseaudio.muted {
    color: @overlay0;
}

#tray {
    background-color: @base;
}
